{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup Page | Craftoria</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png"> <!-- Logo -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Fontawesome-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>

<body>
    {% if error %}
    <div style="color:red;">
        {{ error }}
    </div>
    {% endif %}

    {% if success %}
    <div style="color:green;">
        {{ success }}
    </div>
    {% endif %}

    <div class="container">
        <!-- Login Form-->

        <div class="form-box login">

            <form method="POST">
                {% csrf_token %}
                <h1 class="mb-3">Login</h1>

                <div class="form-floating mb-3">
                    <input type="email" name="textEmail" id="loginEmail" class="form-control" placeholder="Email"
                        required>
                    <label for="loginEmail"> Email</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" name="textPassword" id="loginPassword" class="form-control"
                        placeholder="Password" required>
                    <label for="loginPassword">Password</label>
                </div>
                <div class="forgot-link">
                    <a href="{% url 'send_otp' %}">Forgot Password?</a>
                </div>
                <button type="submit" name="login" class="custom-btn">Sign in</button>
            </form>
        </div>



        <!-- Register Form-->
        <div class="form-box register">

            <form method="POST" action="">
                {% csrf_token %}

                <h1 class="mb-3">Create Account</h1>

                <div class="form-floating mb-3">
                    <input type="text" name="textUsername" id="registerUsername" class="form-control"
                        placeholder="username" required>
                    <label for="registerUsername"> User Name</label>

                </div>

                <div class="form-floating mb-3">
                    <input type="email" name="textEmail" id="registerEmail" class="form-control" placeholder="Email"
                        required>
                    <label for="registerEmail"> Email</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" name="textPassword" id="registerPassword" class="form-control"
                        placeholder="Password" required>
                    <label for="registerPassword">Password</label>
                    <span id="passwordError" style="color:red"></span>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" name="textConfirmPassword" id="registerConfirmPassword" class="form-control"
                        placeholder="Password" required>
                    <label for="registerConfirmPassword">Confirm Password</label>
                    <span id="confirmError" style="color:red"></span>
                </div>

                <button type="submit" name="register" class="custom-btn">Sign Up</button>

                <div class="terms">
                    <input type="checkbox" required>
                    <label for="terms">By creating an account, i accept the<a href="{% url 'terms_conditons' %}"> Terms
                            & Conditions</a> &
                        <a href="{% url 'privacy_policy' %}">Privacy Policy</a> </label>
                </div>

            </form>
        </div>


        <!-- Toggle Box -->

        <div class="toggle-box"></div> <!--  Works with CSS (sliding panel effect)-->

        <!-- Toggle Box Left-->
        <div class="toggle-panel toggle-left">
            <h1>Hello. Welcome!</h1>
            <p>Don't have an account!</p>
            <button type="button" class="btn register-btn">Create Account</button>
        </div>

        <!-- Toggle Box Right-->
        <div class="toggle-panel toggle-right">
            <h1>Welcome Back!</h1>
            <p>Already have an account?</p>
            <button type="button" class="btn login-btn">Sign In</button>
        </div>

    </div>


    <script src="{% static 'js/register.js' %}"></script>

</body>

</html>